[2016-09-16 23:39] tushararora opened #1 "Events conducted in September 2016"

[2016-09-16 23:43] tushararora opened #2 "Projects/Scenes created in September 2016"

[2016-09-16 23:47] tushararora opened #3 "WebVR India in Media, September 2016 (blog posts / event reports / tweets)"

[2016-09-18 17:53] shahbaz17 commented on #3
Name of Event : Virtual day @ Mozunicorn
Date : 09 Sept. , 2016
Reps Portal link : https://reps.mozilla.org/e/virtual-day-mozunicorn/
Blog Link : https://alamshahbaz.wordpress.com/2016/09/18/mozunicorns-virtual-day/

[2016-09-18 17:55] shahbaz17 commented on #1
Name of Event : Virtual day @ Mozunicorn
Date : 09 Sept. , 2016
Reps Portal link : https://reps.mozilla.org/e/virtual-day-mozunicorn/

[2016-09-18 17:56] shahbaz17 commented on #2
Name of Event : Virtual Day @ MozUnicorn
Date : 09 Sept.,2016.
Scenes Created : https://mozunicorn.github.io/MozUnicorn-s-VirtualDay/

[2016-09-21 01:26] gurumukhi commented on #3
https://gurumukhi.wordpress.com/2016/09/21/a-frame-experience/
https://gurumukhi.wordpress.com/2016/09/21/a-frame-for-vr-development-on-web/

[2016-09-24 05:43] Srushtika commented on #2
A-Frame tags used: <a-box>,<a-sky>,<a-camera>,<a-assets>
Date: 10th Sept '16
Scene Link: https://srushtika.github.io/mywebvr/Scene%201/index.html

[2016-09-24 05:46] Srushtika commented on #2
A-Frame tags used: a-obj-model, a-cone, a-sphere, a-sky, a-assets, a-box
Date: 12th Sept '16
Scene Link: https://srushtika.github.io/mywebvr/Scene%202/index.html

[2016-09-24 08:44] Srushtika commented on #2
A-Frame tags used: a-assets, a-videosphere
Date: 24th Sept '16
Scene Link: https://srushtika.github.io/mywebvr/Scene%203/index.html

[2016-09-24 08:45] Srushtika commented on #3
First Blog Post: http://la-mia-squadra.blogspot.in/2016/09/a-month-of-frame.html
24th Sept '16

[2016-10-01 09:18] vibhanshu95 commented on #2
**A-Frame tags used :** a-cone, a-sphere, a-sky, a-cylinder
**Month :** September' 16
**Scene Link :** https://vibhanshu95.github.io/MyVR/scene1.html

[2016-10-01 09:20] vibhanshu95 commented on #2
**A-Frame tags used :** a-cube, a-cylinder, a-sphere, a-sky
**Month :** September' 16
**Scene Link :** https://vibhanshu95.github.io/MyVR/scene2.html

[2016-10-01 11:01] vibhanshu95 commented on #2
**A-Frame tags used :** a-assets, a-curvedimage
**Month :** September' 16
**Scene Link :** https://vibhanshu95.github.io/MyVR/scene3.html

**A-Frame tags used :** a-sky, 360 Degree image, a-box
**Month :** September' 16
**Scene Link :** https://vibhanshu95.github.io/MyVR/scene4.html

**A-Frame tags used :** a-video, a-assets, a-sky
**Month :** September' 16
**Scene Link :** https://vibhanshu95.git

[2016-10-01 18:27] vibhanshu95 commented on #2
**A-Frame tags used :**  a-assets, a-sky, a-entity, a-animation
**Month :** September' 16
**Scene Link :** https://vibhanshu95.github.io/MyVR/scene6.html

[2016-10-02 16:14] vibhanshu95 commented on #3
**Blog Post on WebVR ( My experience + Basic tutorial )  :**                                https://vibhanshuchaudhary.wordpress.com/2016/10/01/road-to-webvr-using-mozvr-a-frame/

Any suggestions are most welcomed.

[2016-10-04 07:56] tushararora opened #4 "WebVR India in Media October 2016 (blog posts / event reports / tweets)"

[2016-10-04 08:02] #3 closed

[2016-10-04 08:02] #2 closed

[2016-10-04 08:02] tushararora opened #5 "Projects/Scenes created in October 2016"

[2016-10-04 08:03] #1 closed

[2016-10-04 08:03] tushararora opened #6 "Events conducted in October 2016"

[2016-10-07 14:50] vibhanshuchaudhary commented on #5
Hi everyone
Due to some reason, I did change my Github username from **vibhanshu95** to **vibhanshuchaudhary** . So, the scenes I created in September are now being accessed by new username. I regret for any inconvenience. Link to all those scenes are as follows :

1. https://vibhanshuchaudhary.github.io/MyVR/scene1.html
2. https://vibhanshuchaudhary.github.io/MyVR/scene2.html
3. https://vibhanshu

[2016-10-13 14:25] shubhamgeete commented on #6
following blogpost are from my past  contribution on WebVR

https://shubhamgeete.wordpress.com/2016/10/10/webvr-and-introduction-to-mozilla-invento2k16/

[2016-10-13 14:26] shubhamgeete commented on #6
https://shubhamgeete.wordpress.com/2016/09/25/first-webvr-talk-connected-device-indore/

[2016-10-13 14:26] shubhamgeete commented on #6
https://shubhamgeete.wordpress.com/2016/09/26/webvr-hands-on-iit-indore/

[2016-10-14 06:12] mradul2601 opened #7 "WebVR@invento2k16"
following blogpost is the event report on the WebVR seminar

https://mradulgargblog.wordpress.com/

[2016-10-14 06:18] mradul2601 commented on #6
following blogpost is the event report on the WebVR seminar

https://mradulgargblog.wordpress.com/

[2016-10-14 06:20] #7 closed

[2016-10-14 06:39] mradul2601 commented on #4
following blogpost is the event report on the WebVR seminar on 8th october 2016

https://mradulgargblog.wordpress.com/

[2016-10-14 19:19] shubhamgeete commented on #4
following blogpost are report for my recent events

https://shubhamgeete.wordpress.com/2016/10/10/webvr-and-introduction-to-mozilla-invento2k16/

https://shubhamgeete.wordpress.com/2016/09/25/first-webvr-talk-connected-device-indore

https://shubhamgeete.wordpress.com/2016/09/26/webvr-hands-on-iit-indore/

[2016-10-14 19:40] shubhamgeete commented on #5
https://shubhamgeete.github.io/MywebVR/aframe.html
https://shubhamgeete.github.io/MywebVR/webvr_scene3.html
https://shubhamgeete.github.io/MywebVR/scene3.html

[2016-10-21 23:27] gurumukhi commented on #2
@vibhanshuchaudhary looks like you have provided incorrect urls, but dont worry I found the correct urls - they are like https://vibhanshuchaudhary.github.io/MyVR/scene1.html.

[2016-10-21 23:33] gurumukhi commented on #2
https://vibhanshuchaudhary.github.io/MyVR/scene5.html - This hasn't worked properly. This looks like a 360 video, but it is being shown as a normal video. May be you can check code of similar scene created by @Srushtika where she has shown a 360 video in VR correctly.

[2016-10-21 23:36] gurumukhi commented on #2
https://vibhanshuchaudhary.github.io/MyVR/scene6.html - @vibhanshuchaudhary looks like the ASWD controls are disabled for this scene's camera. Was that intentional?

[2016-10-21 23:39] gurumukhi commented on #2
Great work @shahbaz17 @vibhanshuchaudhary @Srushtika, keep it up. Thanks for reporting 👍

[2016-10-21 23:40] gurumukhi commented on #1
Thanks @shahbaz17 for reporting 👍 This is now featured on https://wiki.mozilla.org/India/WebVR/.

[2016-10-21 23:41] gurumukhi commented on #3
Thanks @vibhanshuchaudhary @Srushtika @shahbaz17 for winning the contest. Your work has been listed on https://wiki.mozilla.org/India/WebVR/.

[2016-10-22 18:35] lavish205 opened #8 "Talked about WebVR at Science Hack Day India"
@sumantro93 and I organized a hands-on workshop on WebVR at Science Hack Day India.
Hong Phuc Dang, Managing Director of FOSSASIA attended our workshop and was very impressed with how easily we can make VR contents with HTML and A-Frame.

[2016-10-22 18:44] lavish205 commented on #8
Photos: https://goo.gl/photos/E85r1W7Y8WEXNjtG9

[2016-10-23 04:23] gurumukhi commented on #8
@lavish205 please add in existing issue created for the current month, no need to create new issue :-) Cool work bdw 👍

[2016-10-23 08:01] mradul2601 commented on #4
https://mradulgargblog.wordpress.com/
Following blog is the event report of Introduction to WebVR Seminar on 17th October at IET DAVV .

[2016-10-23 12:28] Srushtika opened #9 "Talk on WebVR and Aframe VR at GDG DevFest '16 at Google, Blr, India"
https://www.youtube.com/watch?v=KxZ5q8CPQm4

[2016-10-27 17:51] #9 closed

[2016-10-27 18:18] Srushtika commented on #6
Talk on WebVR and Aframe VR at GDG DevFest '16 at Google, Blr, India https://www.youtube.com/watch?v=KxZ5q8CPQm4

[2016-11-02 05:44] vibhanshuchaudhary commented on #5
Realistic scene of universe using **animations** and **sound**.

https://vibhanshuchaudhary.github.io/MyVR/scene7.html

[2016-11-02 20:04] gurumukhi commented on #5
Ram
- http://gurumukhi.github.io/vr-ram
- http://gurumukhi.github.io/vr-office

Tushar
 - http://tushararora.github.io/google-logo-colors-animation/
 - http://tushararora.github.io/solar-system/

[2016-11-02 20:05] gurumukhi commented on #6
https://gurumukhi.wordpress.com/2016/10/20/vr-camp-event/

[2016-11-04 17:25] shahbaz17 opened #10 "Events conducted in November 2016"
This issue is created to report contributions done by volunteers in this month. While reporting about your event please use the following format:

**Name               :
Event Name     :
Event Date       :
Event Location :
Event Link        :**

[2016-11-04 17:27] shahbaz17 opened #11 "Projects/Scenes created in November 2016"
This issue is created to report contributions done by volunteers in this month. While sharing your scenes/projects with us, please follow the following format :

**Name :
Name of Project / Scene :
Link of Project / Scene :**

[2016-11-04 17:29] shahbaz17 opened #12 "WebVR India in Media November 2016 (blog posts / event reports / tweets)"
This issue is created to report contributions done by volunteers in this month. If you have wrote a blogpost please follow the following format while reporting :

**Name :
Blog Title :
Blog Link / tweets link :**

[2016-11-04 17:39] shahbaz17 commented on #8
Thanks @lavish205  for reporting :+1: This is now featured on https://wiki.mozilla.org/India/WebVR/.

[2016-11-04 17:58] shahbaz17 commented on #4
Hello @mradul2601 , can you give the full link of the blog ? since it's your blog address and for a specific blog i need to search the whole blog.

[2016-11-04 18:14] shahbaz17 commented on #6
Thanks @all for reporting :+1: This is now featured on https://wiki.mozilla.org/India/WebVR/.

[2016-11-04 18:29] shahbaz17 commented on #5
Thanks all for reporting. All your works are now featured on https://wiki.mozilla.org/India/WebVR/.

[2016-11-04 18:41] shahbaz17 commented on #8
@lavish205 can you close this issue ?

[2016-11-06 17:13] lavish205 commented on #8
Please add Sumantro name on wiki page.

[2016-11-06 17:14] shahbaz17 commented on #8
Ok doing that. Thanks for reporting

[2016-11-06 17:20] #8 closed

[2016-11-08 00:24] gurumukhi commented on #5
Hi @ngokevin, have a look at @vibhanshuchaudhary's scene : https://vibhanshuchaudhary.github.io/MyVR/scene7.html. I found this really interesting 👍 :)

[2016-11-08 01:37] ngokevin commented on #5
Nice. Would be cool to use a real equirectangular image for the background and 3D models :)

[2016-11-08 12:35] mradul2601 commented on #4
Hello @shahbaz17 ,Following are the blog links :                                                https://mradulgargblog.wordpress.com/2016/10/12/first-blog-post/
https://mradulgargblog.wordpress.com/2016/10/17/introduction-to-webvriet-davv/

[2016-11-08 20:53] mradul2601 commented on #5
http://htmlpreview.github.io/?https://github.com/mradul2601/WebVR/blob/master/paranoma/index.html

http://htmlpreview.github.io/?https://github.com/mradul2601/WebVR/blob/master/video/index.html

[2016-11-09 18:45] #6 closed

[2016-11-09 18:45] #5 closed

[2016-11-09 18:45] #4 closed

[2016-11-11 21:10] mukeshpathak345 opened #13 "MozActivate @ BSSS"

[2016-11-12 02:20] shahbaz17 commented on #13
Hello @mukeshpathak345 Thanks for reporting.
Can you comment on the issue already created for event ?
creating too many issues doesn't look good also it is easy to track on one issue.
Also can you close this issue ?
Thanks :-)

[2016-11-12 07:51] vibhanshuchaudhary commented on #12
**Name :** Vibhanshu Chaudhary
**Blog Title :** A Day of Virtual Reality
**Blog Link :** https://vibhanshuchaudhary.wordpress.com/2016/11/10/a-day-of-virtual-reality/

[2016-11-12 08:01] vibhanshuchaudhary commented on #10
**Name :** Vibhanshu Chaudhary
**Event Name :** A Day of Virtual Reality
**Event Date :** 7 November 2016
**Event Location :** Greater Noida
**Event Link :** https://reps.mozilla.org/e/a-day-of-virtual-reality/

[2016-11-12 12:59] shahbaz17 commented on #10
Name : Md Shahbaz Alam and Osho Parth
Event Name : MozDev @ NIIT
Event Date : 12 November 2016
Event Location : NIIT University Neemrana , Rajasthan
Event Link : https://reps.mozilla.org/e/mozdev-niit/

[2016-11-12 16:17] varadekd opened #14 "MozVR Camp Bhopal"
Name : Kushagra Varade and Vaibhav Bajaj
Event Name : #include
Event Date : 10 Nov 2016
Event Location : UIT, RGPV, Bhopal, Madhya Pradesh
Event Link : https://reps.mozilla.org/e/vr-camp-bhopal/

[2016-11-12 16:18] #14 closed

[2016-11-12 16:20] varadekd commented on #10
Name : Kushagra Varade and Vaibhav Bajaj
Event Name : MozVR Camp Bhopal
Event Date : 10 Nov 2016
Event Location : UIT,RGPV, Bhopal, Madhya Pradesh
Event Link : https://reps.mozilla.org/e/vr-camp-bhopal/

[2016-11-12 17:47] varadekd commented on #12
Name : MozVR Camp Bhopal
Blog Title : #include(Hash Include)
Blog Link / tweets link : https://blogcoherent.wordpress.com/2016/11/12/include/

[2016-11-13 03:57] #13 closed

[2016-11-19 17:29] shahbaz17 commented on #12
**Name** : Md Shahbaz Alam
**Blog Title** : MozDev @ NIIT
**Blog Link** : https://alamshahbaz.wordpress.com/2016/11/14/mozdev-niit/
**Tweet Link** : https://twitter.com/mdsbzalam/status/797426391738413057

[2016-11-19 17:31] Srushtika commented on #11
Name of the Scene: Hello World application covering the basic primitives in A-Frame
Link of the Scene: https://srushtika.github.io/mywebvr/Hello%20World/index.html

[2016-11-19 17:32] Srushtika commented on #11
Name of the Scene: Let's go places ! - Content display website in VR using A-Frame
Link to the Scene: https://srushtika.github.io/mywebvr/ContentDisplayWebsite/index.html

[2016-11-19 17:39] Srushtika commented on #12
Talk about WebVR and A-Frame in GDG DevFest at Google, Blr : https://www.youtube.com/watch?v=KxZ5q8CPQm4
Featured on A week of A-frame: https://aframe.io/blog/awoa-31-32/
Tweets:
1. https://twitter.com/Srushtika/status/789890602678628352
2. https://twitter.com/Srushtika/status/789723775453437952
3. https://twitter.com/Srushtika/status/787398391827468288
4. https://twitter.com/mozTechSpeakers/statu

[2016-11-20 19:19] vabajaj commented on #10
Name : Vaibhav Bajaj
Event Name : MozVR Camp Bhopal
Event Date : 20 Nov 2016
Event Location : LNCT College , Bhopal, Madhya Pradesh
Event Link : https://reps.mozilla.org/e/mozvr-camp-bhopal/

[2016-11-25 14:44] rahuldecoded commented on #12
Name: WebVR at InfoCon.
Here me and Biraj Karmakar presented the knowledge of VR to the guests over there. Biraj Karmakar was demonstration the concepts of webVR and AFrame, where I was dealing with the code(in which very few people were interested :p)
.
Tweets:

1. https://twitter.com/birajkarmakar/status/799494220297932800
2. https://twitter.com/joininfocon/status/799512017489055744
3. https://t

[2016-11-25 17:20] mukeshpathak345 commented on #11
Name of the Scene: 360 Video using Basic A-Frame
Link to the Scene: [](https://mukeshpathak345.github.io/360-video/)

[2016-11-25 17:22] mukeshpathak345 commented on #11
Name of the Scene: MozMicky Sonam-Gupta Bewafa hai A-frame
Link to the Scene: https://mukeshpathak345.github.io/Sonal-GuptaVr/

[2016-11-25 17:41] mukeshpathak345 commented on #11
Name : Mukesh Pathak  Mike
Name of Project / Scene : VR scene using sphere and a sky
Link of Project / Scene : https://mukeshpathak345.github.io/mozmicky.webvr.io/

[2016-11-25 17:48] mukeshpathak345 commented on #11
Name : Mukesh Pathak Mike
Name of Project / Scene : 360 Round Images VR scene using Image Round 360
Link of Project / Scene : https://mukeshpathak345.github.io/moz-webVR/

[2016-11-25 20:36] Srushtika commented on #11
Name of the Scene: Rainy Day - VR Scenery
Link to the Scene: https://srushtika.github.io/mywebvr/VR%20Scenery/index.html

[2016-11-26 06:57] mukeshpathak345 commented on #11
Name : Mukesh Pathak Mike
Name of Project / Scene : MozMicky Audio Horror
Link of Project / Scene : https://mukeshpathak345.github.io/horror-theme/

[2016-11-29 19:11] mukeshpathak345 commented on #11
Name : Mukesh Pathak
Name of Project / Scene : Ice-Star-Rain
Link of Project / Scene :  https://mukeshpathak345.github.io/Ice-Star-Rain/

[2016-11-29 19:39] mukeshpathak345 commented on #11
Name : Mukesh Pathak
Name of Project / Scene : WebVR-Aframe
Link of Project / Scene : https://mukeshpathak345.github.io/mozilla-webvr/

[2016-12-06 20:22] rahuldecoded commented on #12
Name: WebVR at UIT
Here me and Biraj Karmakar presented the knowledge of VR. Biraj Karmakar was demonstration the concepts of webVR and AFrame, where I was showing little bit of hand-ons under the guidance of Biraj Karmakar

Blog: https://rahuldecoded.wordpress.com/2016/12/06/mozactivate-tour-1-university-institute-of-technology-burdwan/

Tweets: https://twitter.com/birajkarmakar/status/8024163822

[2016-12-06 20:35] rahuldecoded commented on #11
Name : Rahul Bhattacharjee
Name of the Project/ Scene : Boz inside the train
Link of Project/Scene : https://rahuldecoded.github.io/

[2016-12-06 20:37] rahuldecoded commented on #10
Name : Rahul Bhattacharjee
Event Name : MozVR at UIT
Event Date : 25 Nov 2016
Event Location : University Institute of Technology, Burdwan
Event Link : https://reps.mozilla.org/e/mozactivate-tour/

[2016-12-08 14:25] shahbaz17 commented on #10
Thanks all for reporting :+1: This is now featured on https://wiki.mozilla.org/India/WebVR/#Events

[2016-12-08 14:25] #10 closed

[2016-12-08 15:03] shahbaz17 commented on #12
Thanks all for reporting :+1: This is now featured on https://wiki.mozilla.org/India/WebVR/#Blogposts.2FReports

[2016-12-08 15:03] #12 closed

[2016-12-08 15:19] shahbaz17 commented on #11
Thanks all for reporting :+1: This is now featured on https://wiki.mozilla.org/India/WebVR/#Scenes.2FProjects_by_contributors

[2016-12-08 15:19] #11 closed

[2016-12-08 15:20] shahbaz17 opened #15 "Projects/Scenes created in December 2016"
This issue is created to report contributions done by volunteers in this month. While sharing your scenes/projects with us, please follow the following format :

**Name :**
**Name of Project / Scene :**
**Link of Project / Scene :**

[2016-12-08 15:21] shahbaz17 opened #16 "Events conducted in December 2016"
This issue is created to report contributions done by volunteers in this month. While reporting about your event please use the following format:

**Name :
Event Name :
Event Date :
Event Location :
Event Link :**

[2016-12-08 15:23] shahbaz17 opened #17 "WebVR India in Media December 2016 (blog posts / event reports / tweets)"
This issue is created to report contributions done by volunteers in this month. If you have wrote a blogpost please follow the following format while reporting :

**Name :
Blog Title :
Blog Link / tweets link :**

[2016-12-21 17:02] mukeshpathak345 commented on #15
Name: Mukesh Pathak
Name of Project/Scene: Merry Christmas
Link of Project/Scene: https://mukeshpathak345.github.io/Merry-Christmas/

[2016-12-27 18:08] mukeshpathak345 commented on #15
Name : Mukesh Pathak
Name of Project / Scene : Sun-Shine
Link of Project / Scene :  https://mukeshpathak345.github.io/sunshine/

[2016-12-28 21:45] mukeshpathak345 commented on #17
Blog Month: November 2016
Name : Mukesh Pathak
Blog Title : MozVR Camp Bhopal @FxLNCT
Blog Link / tweets link : https://mikebhopal.wordpress.com/2016/11/23/mozvr-camp-bhopal-fxlnct/

[2016-12-28 23:01] mukeshpathak345 commented on #15
Name : Mukesh Pathak
Name of Project / Scene : Happy New Year
Link of Project / Scene : https://mukeshpathak345.github.io/New-year-2017/

[2017-01-09 17:03] #17 closed

[2017-01-09 17:03] #15 closed

[2017-01-09 17:03] #16 closed

[2017-01-09 17:05] tushararora opened #18 "WebVR India in Media January 2017 (blog posts / event reports / tweets)"
This issue is created to report contributions done by volunteers in this month. If you have written a blogpost please follow the following format while reporting :

**Name :
Blog Title :
Blog Link / tweets link :**

[2017-01-09 17:07] tushararora opened #19 "Events conducted in January 2017"
This issue is created to report contributions done by volunteers in this month. While reporting your event please use the following format:

**Name :
Event Name :
Event Date :
Event Location :
Event Link :**

[2017-01-09 17:08] tushararora opened #20 "Projects/Scenes created in January 2017"
This issue is created to report contributions done by volunteers in this month. While sharing your scenes/projects with us, please follow the following format :

**Name :
Name of Project / Scene :
Link of Project / Scene :**

[2017-01-21 13:53] vyaspranjal33 commented on #19
Name : Pranjal Vyas
Event Name : A Day Of Virtual Reality
Event Date : 19th january 2017
Event Location : Sir BPTI campus,Bhavnagar,Gujarat
Event Link : https://reps.mozilla.org/e/a-day-of-virtual-reality-1/ , https://pranjalvyas.wordpress.com/2017/01/21/a-day-of-virtual-reality/

[2017-01-26 13:32] mukeshpathak345 commented on #18
Name :Mukesh Pathak Mike
Blog Title : WebVR Camp IET-DAVV Indore M.P.
Blog Link / tweets link https://mikebhopal.wordpress.com/2017/01/23/mozvr-camp-iet-davv-indore/

[2017-02-06 20:14] mradul2601 commented on #19
Name : Pranjal Vyas
Event Name : A Day Of Virtual Reality
Event Date : 20th january 2017
Event Location : IET DAVV,Indore
Event Link : https://reps.mozilla.org/e/mozvr-camp-indore/
https://mradulgargblog.wordpress.com/2017/01/29/webvr-hands-oniet-davv/

[2017-02-26 03:59] gurumukhi opened #21 "Projects/Scenes created in Feb 2017"
This issue is created to report contributions done by volunteers in this month. While sharing your scenes/projects with us, please follow the following format :

Name :
Name of Project / Scene :
Link of Project / Scene :
Title / Summary / Remarks:

[2017-02-26 04:28] shahsamarthr opened #22 "shah samarth r"
<!DOCTYPE html>
<html lang="en" data-is-home="false" data-is-mobile="false" data-supports-vr="false" data-supports-touch="false" data-site-base-url="https://aframe.io" data-site-root-path="/" data-site-home-url="https://aframe.io/" data-lib-home-url="https://aframe.io/" data-lib-examples-url="https://aframe.io/aframe/examples" data-title="{title} | A-Frame" data-is-spa="false" data-ga-id="UA-24056

[2017-02-26 04:30] bhavaya opened #23 "bhavya"
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, World! • A-Frame</title>

      <a-entity position="0 0 3.8">
        <a-camera></a-camera>
      </a-entity>
    </a-scene>

  </body>
</html>

[2017-02-26 04:37] DarshanAjudiya opened #24 "Darshan"
<!DOCTYPE html>
<html>
  <head>

    <title></title>
    <meta name="description" content="Hello, World! • A-Frame">
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
  </head>
  <body>
    <a-scene>

    <a-text value="h  e  l  l  o"  width="100px" height="10px" position="2 1 3"  rotation="0 120 0" depth="20px"></a-text>
	.  <a-curvedimage src="IMAGE1.png" height="3.0" ra

[2017-02-26 04:37] devilsown111 commented on #21
NAME : RONIL PATEL
NAME OF PROJECT : WAITING FOR THE BALL 2 BOUNCE ON THE CYLINDERzz
REMARKS : FOOTPRINTS @MSU 2K17
LINK : https://devilsown111.github.io/vr/ronilpatel.html

[2017-02-26 04:37] karanjoshi commented on #21
Name:Karan Joshi
Name of Project : background and shapes
Link: https://gist.github.com/karanjoshi/e82ce5fdc79c90ce388ae910988961b1
Remarks: footprint 2017

[2017-02-26 04:39] abhinavbaldha commented on #21
NAME:Abhinav baldha
name of project: 'HELLO.' using blocks.
Link: [](https://abhinavbaldha.github.io/webVR1/vr5.html)
remarks: Footprints 2017

[2017-02-26 04:40] abhinavbaldha commented on #21
NAME: ABHINAV BALDHA
Name of Project: 'HELLO.' using blocks
link: https://abhinavbaldha.github.io/webVR1/vr5.html
remarks: Footprints 2017

[2017-02-26 04:43] chauhanjay opened #25 "jaynish"
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, World! • A-Frame</title>
    <meta name="description" content="Hello, World! • A-Frame">
    <script src="https://aframe.io/releases/0.3.2/aframe.min.js"></script>
  </head>
  <body>
    <a-scene>

      <a-sphere position="19 1.25 5" radius="1.25" color="#EF2D5E"></a-sphere>
      <a-box position="-9 1 5" rotation="0 45

[2017-02-26 04:58] chavdaamitk commented on #21
Name : Amit Chavda
Name Of Project : vr
Link : https://gist.github.com/chavdaamitk/cc4f36e85c22b49a572adb54ec2d311b
Remarks : FootPrintsX7

[2017-03-10 07:27] MadhuriQA commented on #21
Name : Madhuri Mittal
Name of Project / Scene : WebVR
Link of Project / Scene : https://github.com/MadhuriQA/WebVR
Title / Summary / Remarks: Footprints 2017

[2017-03-10 10:00] mukeshpathak345 commented on #19
Name : Mukesh Pathak
Event Name : MozActivate @ BSSS
Event Date : 3rd March 2017
Event Location : BSSS College Bhopal Madhya Pradesh
Event Link : https://mikebhopal.wordpress.com/2017/03/06/webvr-session-in-bsss/

[2017-03-17 20:20] #20 closed

[2017-03-17 20:27] gurumukhi opened #26 "Events conducted in March 2017"
This issue is created to report contributions done by volunteers in this month. While reporting your event please use the following format:

Name :
Event Name :
Event Date :
Event Location :
Event Link :

[2017-03-17 20:27] gurumukhi commented on #26
Name : Mukesh Pathak
Event Name : MozActivate @ BSSS
Event Date : 3rd March 2017
Event Location : BSSS College Bhopal Madhya Pradesh
Event Link : https://mikebhopal.wordpress.com/2017/03/06/webvr-session-in-bsss/

[2017-03-17 20:28] gurumukhi commented on #19
Thanks @vyaspranjal33 & @mradul2601 for the event. @mukeshpathak345 I have added ur event to https://github.com/webvr-india/volunteer-contributions/issues/26.

[2017-03-17 20:28] #19 closed

[2017-03-17 20:31] gurumukhi opened #27 "Projects/Scenes created in March 2017"
This issue is created to report contributions done by volunteers in this month. While sharing your scenes/projects with us, please follow the following format :

Name :
Name of Project / Scene :
Link of Project / Scene :

[2017-03-17 20:34] gurumukhi commented on #18
Thanks @mukeshpathak345

[2017-03-17 20:34] #18 closed

[2017-03-17 20:37] gurumukhi commented on #25
Thanks @chauhanjay ! Can you try creating a webpage and upload it on your github account? Let me know if you need any help :-)

[2017-03-17 20:37] #25 closed

[2017-03-17 20:37] gurumukhi commented on #24
Thanks @DarshanAjudiya  ! Can you try creating a webpage and upload it on your github account? Let me know if you need any help :-)

[2017-03-17 20:37] #24 closed

[2017-03-17 20:38] gurumukhi commented on #23
Thanks @bhavaya ! Can you try creating a webpage and upload it on your github account? Let me know if you need any help :-)

[2017-03-17 20:38] #23 closed

[2017-03-17 20:39] gurumukhi commented on #22
Thanks @shahsamarthr  ! Can you try creating a webpage and upload it on your github account? Let me know if you need any help :-)

[2017-03-17 20:39] #22 closed

[2017-03-17 20:39] gurumukhi commented on #21
Other people who submitted code during Footprints 2017 -
@chauhanjay
@DarshanAjudiya
@bhavaya
@shahsamarthr

Thanks all!

[2017-03-17 20:41] gurumukhi commented on #21
Event conducted: Footprint 2017 | https://reps.mozilla.org/e/footprints-2017/

[2017-04-22 19:45] gurumukhi commented on #26
Added to the wiki, closing :-)

[2017-04-22 19:45] #26 closed

[2017-04-22 19:45] #27 closed

[2017-04-22 19:47] gurumukhi opened #28 "Contributions from April 2017"
This issue is created to report contributions done by volunteers in this month. While sharing your scenes/projects with us, please follow the following format -

Name :
Title/Summary of Project / Scene :
Link of Project / Scene :
Remark:

OR

Name :
Event Name :
Event Date :
Event Location :
Event Link :

OR

Name:
Blog/Tweet/Article link:
Summary of your media/social media coverage:

[2017-04-22 20:01] gurumukhi commented on #21
@jerryjagtap55 can you use aframe tags to create something?

[2017-04-22 20:03] gurumukhi commented on #21
@karanjoshi can you also provide the link of the output of your scene (use github pages). Provide link on current month's open issue to get this added to mozilla wiki.

[2017-04-22 20:14] gurumukhi commented on #21
Linked added at https://wiki.mozilla.org/India/WebVR/

[2017-04-22 20:14] #21 closed

[2017-04-22 20:44] gurumukhi opened #29 "Pending additions to WebVR India Superstar telegram group"
@ramyashah kindly provide me your telegram id so that I can add you to Superstar's group (as per https://github.com/webvr-india/volunteer-contributions/#webvr-india-superstarts).

@vyaspranjal33 kindly update your privacy settings of telegram to allow me to join in the superstarts group.

[2017-04-22 20:45] robinkoshy commented on #28
Robin Koshy
MozVR
https://robinkoshy.github.io/MozVR/
A basic frame for a virtual reality experience.

[2017-04-22 20:49] gurumukhi commented on #29
@varadekd, can you also share your telegram id so that I can add you to telegram group?

[2017-04-22 20:55] gurumukhi opened #30 "Work done during Hack Night India"
Kindly report here all contribution done by you during https://reps.mozilla.org/e/a-frame-hack-night-india/.

[2017-04-22 22:46] robinkoshy commented on #28
Robin Koshy
MozActivate @BSSS
3rd March 2017
Bhopal
http://robinmozilla.blogspot.in/2017/03/v-behaviorurldefaultvmlo.html?m=1

[2017-04-23 03:04] mukeshpathak345 commented on #30
https://mukeshpathak345.github.io/Aframe-Hack-Night/

Robin Koshy And Mukesh Pathak Created a scene For Aframe HackNight WebVR India

[2017-04-23 04:49] vibhanshuchaudhary commented on #30
https://vibhanshuchaudhary.github.io/HackNightIndia/hacknight.html

https://vibhanshuchaudhary.github.io/HackNightIndia/hacknight1.html

[2017-04-23 06:48] reddyes commented on #30
https://github.com/reddyes/hackathon-Webvr

[2017-04-23 09:52] ritesh07raj commented on #30
WebVR HackNight.
Large file attached so it takes time to load.

https://ritesh07raj.github.io/demo/

[2017-04-23 12:42] robinkoshy commented on #30
Work done during Hack Night India
https://mukeshpathak345.github.io/Aframe-Hack-Night/
https://github.com/robinkoshy/Aframe-Hack-Night

[2017-04-23 19:40] gurumukhi commented on #30
@mukeshpathak345 & @robinkoshy : Can you guys please convert this scene into a-frame scene? Let me know if you have any doubt here.

[2017-04-23 19:41] gurumukhi commented on #30
Good work @vibhanshuchaudhary & @ritesh07raj  :-) 👍

[2017-04-23 19:44] gurumukhi commented on #30
@reddyes can you please convert this into github pages and put here link of published webpage directly?

You need to go to settings of repo and select master branch as source under 'GitHub Pages' section. Then you will get published pages link in the same section. Detailed info at https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/ & https://help.github.com/categorie

[2017-04-24 06:01] ramyashah commented on #29
@gurumukhi
My Telegram Id is : - @Ramya_Shah
Contact Number  : 7878762694

[2017-04-24 11:31] vyaspranjal33 commented on #29
My telegram Id : @vyaspranjal33

On Mon, Apr 24, 2017 at 11:31 AM, Ramya Shah <notifications@github.com>
wrote:

--

[image: --]

Vyas Pranjal
[image: https://]about.me/vyaspranjal
<https://about.me/vyaspranjal?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2017-04-24 15:19] reddyes commented on #30
@gurumukhi  done

[2017-04-24 16:21] ritesh07raj commented on #30
Thank you @gurumukhi

[2017-04-24 16:57] gurumukhi commented on #30
@reddyes link plz?

[2017-04-24 18:02] reddyes commented on #30
@gurumukhi  https://reddyes.github.io/hackathon-Webvr.io/

[2017-04-25 10:30] withshubh commented on #30
https://withshubh.github.io/A-frame-HackNight/

[2017-04-25 10:49] withshubh commented on #30
https://withshubh.github.io/A-frame-HackNight/

[2017-04-27 19:37] gurumukhi commented on #29
@vyaspranjal33 I am getting following error while trying to add you. Kindly fix your settings..

<img width="442" alt="screen shot 2017-04-28 at 1 06 53 am" src="https://cloud.githubusercontent.com/assets/2748973/25501089/161724d6-2baf-11e7-93d8-ea164adcd1ca.png">

[2017-04-27 22:31] shahbaz17 opened #31 "WebVR Hack Star Contest"
This issue is created to report contributions done by volunteers for the **WebVR Hack Star** Contest

Name :
Merged PR Link :

[2017-04-27 22:49] #31 closed

[2017-04-27 23:04] gurumukhi commented on #30
Scenes submitted :
* @vibhanshuchaudhary  - https://vibhanshuchaudhary.github.io/HackNightIndia/hacknight.html
* @vibhanshuchaudhary  - https://vibhanshuchaudhary.github.io/HackNightIndia/hacknight1.html
* @reddyes - https://reddyes.github.io/hackathon-Webvr.io/
* @ritesh07raj - https://ritesh07raj.github.io/demo/
* @withshubh - https://withshubh.github.io/A-frame-HackNight/
* @mukeshpathak345  &

[2017-04-27 23:12] gurumukhi commented on #30
Thanks everyone for your valuable contributions and involvement in Hack Night. All of you are involved with WebVR India community since a long time and I would like to personally like to thank you for your involvement in making this an awesome community.

Out of all submitted scenes, @vibhanshuchaudhary's scene (https://vibhanshuchaudhary.github.io/HackNightIndia/hacknight.html) & @reddyes's scene

[2017-04-27 23:14] shahbaz17 commented on #30
Congratulations @vibhanshuchaudhary and @reddyes

[2017-04-28 01:53] vibhanshuchaudhary commented on #30
**Thank you** @gurumukhi and @shahbaz17 !

 will always be proud to be a contributor of such an amazing community(WebVR India) that is working towards future paradigm shift i.e., **Virtual Reality**.

[2017-04-28 01:54] vibhanshuchaudhary commented on #30
**Thank you** @gurumukhi and @shahbaz17 !

I will always be proud to be a contributor of such an amazing community (WebVR India) that is working towards future paradigm shift i.e., **Virtual Reality**.

[2017-04-28 12:26] reddyes commented on #30
Thank you @gurumukhi  @shahbaz17

@gurumukhi @tushararora  you are the main people who engaged me into open source community,coding  and vr .
special thanks to santosh for engaging me into website and teaching me about gibhub importance .
also harsha you have pushed me into another level
thank you every one

[2017-04-29 10:37] mukeshpathak345 commented on #30
@mukeshpathak345 & @robinkoshy - https://mukeshpathak345.github.io/A-frame-hacknight/
Work done during Hack Night India

[2017-04-29 11:33] gurumukhi commented on #30
Thanks @mukeshpathak345 & @robinkoshy , good work! Looks like everyone is liking the rain fountains too much :-D

Thanks @reddyes, we are really delighted to have you in the community.

Again, thanks everyone for you amazing work, closing this issue. And yes, dont forget to join us in today's monthly call in evening.. see you in telegram group and in the call.

[2017-04-29 11:33] #30 closed

[2017-04-29 12:54] akshit13 commented on #28
Name : Akshit Sharma
Event Name : WebVR Camp at Chandigarh University
Event Date : 25/4/2017
Event Location : Chandigarh University, Punjab
Event Link : https://reps.mozilla.org/e/webvr-camp-at-chandigarh-university/

https://twitter.com/Akshit_13/status/857185232864325636

[2017-04-30 18:54] gurumukhi commented on #29
We will wait @varadekd for some more time for his telegram id if he is available on telegram.

[2017-04-30 19:00] gurumukhi commented on #29
Sorry Kushagra is already added to the superstars group. Closing this issue.

[2017-04-30 19:00] #29 closed

[2017-04-30 19:07] gurumukhi commented on #28
Thanks @robinkoshy & @akshit13 :-) You are now featured on https://wiki.mozilla.org/India/WebVR/. You will also be added to the Superstars telegram group!

[2017-04-30 19:07] #28 closed

[2017-04-30 19:07] gurumukhi opened #32 "Collecting contributions from May-Sept 2017"
This issue is created to report contributions done by volunteers in this month. While sharing your scenes/projects with us, please follow the following format -

Name :
Title/Summary of Project / Scene :
Link of Project / Scene :
Remark:

OR

Name :
Event Name :
Event Date :
Event Location :
Event Link :

OR

Name:
Blog/Tweet/Article link:
Summary of your media/social media coverage:

[2017-05-02 03:31] viswanathamsantosh commented on #28
Conference: Fossasia
Talk recording link: https://www.youtube.com/watch?v=e4HbnJ_-u0o&feature=youtu.be&t=2m4s
Slides link: https://slides.com/isantoshv/webvr-fossasia

[2017-05-02 03:32] viswanathamsantosh commented on #28
Hey @gurumukhi , Sorry for being late. Added my contributions just now. :)

[2017-05-02 05:29] viswanathamsantosh commented on #28
and my Blogpost: https://isantoshv.wordpress.com/2017/03/24/speaking-at-fossasia-2017/

[2017-05-13 15:28] gurumukhi commented on #32
Name : Ram

Contribution-
Fixed an issue: https://github.com/aframevr/aframe/issues/2633

[2017-05-13 17:40] reddyes commented on #32
Name : Sai Rajasekhar reddy
Title/Summary of Project / Scene : solar system
Link of Project / Scene : https://github.com/reddyes/hackathon-Webvr.io
Event Date :22 april 2017
Event Location : collab house

[2017-05-13 17:41] reddyes commented on #32
Name :Sai Rajasekhar Reddy
Title/Summary of Project / Scene : atom (element)
Link of Project / Scene : https://github.com/reddyes/aframeRAY
Remark: 1st  web vr camp hyderabad

[2017-05-13 17:42] reddyes commented on #32
Name: Sai Rajasekhar Reddy
contribution:  for website at hackNight hyderabad
link: https://github.com/reddyes/webvr-india.github.io

[2017-05-15 04:14] Bornfromashes commented on #32
Name: Amit Kumar Singh
title/Summary of project/scene: SastiMasti(https://bornfromashes.github.io/sastimasti/)
Link of Project/Scene: https://github.com/Bornfromashes/sastimast
contribution: demo for talk on vr
event date: 8th april 2017
event location: AIT Pune
Blog/tweet/articlelink: https://tusharchoudhary.github.io/A-Frame-talk/
Remark: Talk at AIT-Pune Mozilla Community

[2017-06-09 21:48] shahbaz17 opened #33 "A-frame Bug Fixing Contest | WebVR Hack Star"
This issue is created to report contributions done by volunteers for the A-frame Bug Fixing Contest | WebVR Hack Star Contest

**Name :**
**Merged PR Link :**

[2017-06-19 08:31] ShaguftaMethwani commented on #33
Shagufta Gurmukhdas

1) https://github.com/aframevr/aframe/pull/2780
2) https://github.com/aframevr/aframe/pull/2778
3) https://github.com/aframevr/aframe/pull/2759

[2017-07-01 16:44] gurumukhi commented on #33
Ram Dayal Vaishnav
Issue: https://github.com/aframevr/aframe/issues/2633
PR: https://github.com/aframevr/aframe/pull/2642#pullrequestreview-35526633

[2017-07-19 22:05] divyam3897 commented on #33
Divyam Madaan

PR: https://github.com/aframevr/aframe-site/pull/436
PR: https://github.com/aframevr/aframe-site/pull/437

[2017-07-21 10:52] RCMainak commented on #33
Mainak R. Chowdhury

1. https://github.com/aframevr/aframe-site/pull/433

[2017-10-05 21:32] racmeh commented on #32
Name: Rachit Mehrotra
Title/Summary of Project / Scene: Universe and its planets
Link of Project / Scene: https://racmeh.github.io/ar_vr/
Remark: Made it using spheres animation and sky property with high quality images

[2017-10-10 16:42] gurumukhi commented on #33
Sorry for a very delayed response, we couldn't procure the contest gifts on time because of some changes in Mozilla staff who was assisting us on this.

I see @ShaguftaMethwani & @gurumukhi's all reported PRs are accepted. One of @divyam3897's PR isn't accepted but other one is accpted.

@RCMainak can you please followup with aframe team to get you PR reviewed? Remind them again on PR and ping the

[2017-10-10 16:49] gurumukhi opened #34 "Volunteers contributions collection for Q4 2017"
Opening this issue as per https://github.com/webvr-india/volunteer-contributions/blob/master/README.md (instead of monthly, created quarterly issue this time).

Volunteers can share their contributions done during Q4 2017 on this issue. While sharing your scenes/projects with us, you can follow the following format -

**Create a VR project/scene and share with community-**
Name :
Title/Summary of

[2017-10-10 17:14] ranjithrajvasam opened #35 "Volunteers contributions collection for Q3 2017"
Opening this issue as per https://github.com/webvr-india/volunteer-contributions/blob/master/README.md (instead of monthly, created quarterly issue this time).

Volunteers can share their contributions done during Q4 2017 on this issue. While sharing your scenes/projects with us, you can follow the following format -

Create a VR project/scene and share with community-
Name :
Title/Summary of Proj

[2017-10-11 01:23] Jyothirmaikottu commented on #32
Name : Jyothirmai Kottu
Title/Summary of Project / Scene : Christmas Scene
Link of Project / Scene : https://jyothirmaikottu.gitlab.io/Christmas/
Remark: A simple Christmas project!

[2017-10-11 01:25] Jyothirmaikottu commented on #32
Name : Jyothirmai Kottu
Title/Summary of Project / Scene : Solarsystem
Link of Project / Scene : https://jyothirmaikottu.gitlab.io/chirstmas/

[2017-10-11 06:06] Jyothirmaikottu commented on #35
Name : Jyothirmai Kottu
Title/Summary of Project / Scene :  Christmas Theme
Link of Project / Scene : https://jyothirmaikottu.gitlab.io/chirstmas/

[2017-10-12 15:33] BhuvanaMeenakshi commented on #35
Name : Ms. K. Bhuvana Meenakshi
VR projects
1. Title of the Project: Pongal Wishes using WebVR
Summary: To visualize how Pongal is an important festival for Tamilians and also how it is celebrated in different forms in India.
Link of Project: https://bhuvanameenakshi.github.io/Pongal_WebVR_wishes/index.html

2. Title of the Project: Lost Paradise
Summary: This is my first game cum short story whic

[2017-11-02 20:00] #33 closed

[2017-11-13 03:32] mukeshpathak345 commented on #32
All Issue update plz Close the issue

[2017-11-13 18:27] gurumukhi commented on #35
Thanks @Jyothirmaikottu for the cool scene.

Thanks a lot @BhuvanaMeenakshi for amazing scenes, congratulations for 13k games submission & special thanks for the session, I am sure this have benefited the participants (I saw the full video, this is really great).

Thanks to both of you again, your contributions are added to https://wiki.mozilla.org/India/WebVR/. Closing this issue, keep contribuin

[2017-11-13 18:27] #35 closed

[2017-11-13 18:32] gurumukhi commented on #32
Thanks all for you amazing contributions. Special mention to @Bornfromashes for his super funny implementation :-D All must have a look at his VR song once :-D

Your contribution has been updated at https://wiki.mozilla.org/India/WebVR/ (let us know if case we missed anything).

[2017-11-13 18:32] #32 closed